asgiref==3.11.0
blinker==1.9.0
click==8.3.1
distlib==0.4.0
dj-database-url==3.1.2
Django==6.0.1
django-cors-headers==4.9.0
filelock==3.20.1
gunicorn==26.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
packaging==26.2
pandas==2.3.3
pillow==12.0.0
platformdirs==4.5.1
psycopg2-binary==2.9.12
pyjokes==0.8.3
python-dateutil==2.9.0.post0
python-pptx==1.0.2
pyttsx3==2.98
pytz==2025.2
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
virtualenv==20.35.4
Werkzeug==3.1.4
whitenoise==6.12.0
xlsxwriter==3.2.9
